* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0.5rem 0.5rem;
}

main {
  border: 1px solid black;

  border-radius: 5px;
  padding: 1rem;
}

.line {
  border-bottom: 1px solid rgb(44, 44, 44);
  padding-top: 4rem;
}

#section-1 h3 {
  font-size: 1rem;
  margin-top: 2rem;
  word-spacing: 0.5rem;
  font-weight: 300;
  text-transform: uppercase;
}

#section-1 h1 {
  font-size: 4rem;
  font-weight: 400;
  word-spacing: 3rem;
  line-height: 1.1;
}

#section-1 img {
  height: 12rem;
  margin-top: 2rem;
  width: 21rem;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

#section-2 h3 {
  font-size: 1rem;
  word-spacing: 0.5rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

#section-2 h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 2rem;
  line-height: 1;
}

#section-2 button {
  padding: 0.5rem 1.5rem;
  background-color: rgb(34, 34, 34);
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  word-spacing: 0.5rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.line-2 {
  border-bottom: 1px solid rgb(44, 44, 44);
  margin-bottom: 2rem;
}

#section-2 img {
  height: 4rem;
  object-fit: cover;
  width: 4rem;
  margin-bottom: 1rem;
}

#section-2 h2 {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.text {
  font-size: 1rem;
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  word-spacing: 0.2rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

#section-3 h2 {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

/* .video-sec {
  padding: 0.5rem;
} */

video {
  width: 22rem;
  height: 14rem;
  object-fit: cover;

  border-radius: 1.5rem;
}

.video-sec h4 {
  font-size: 1.7rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.video-sec h5 {
  font-size: 1rem;
  font-weight: 200;
  margin-bottom: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#section-4 {
  padding-top: 1rem;
}

#section-4 img {
  height: 4rem;
  width: 4rem;
  object-fit: cover;
  margin-bottom: 1rem;
}

#section-4 h3 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

#section-4 h1 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.1;
  word-spacing: 0.8rem;
  margin-bottom: 2rem;
}

#section-4 h4 {
  font-size: 1.2rem;
  font-weight: 200;

  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  word-spacing: 0.1rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

#section-4 button {
  padding: 0.5rem 1.5rem;
  background-color: rgb(34, 34, 34);
  color: white;
  font-size: 1rem;
  font-weight: 500;
  word-spacing: 0.5rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  border: none;
}

#section-5 {}

.fayla {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}

.fayla img {
  height: 4rem;
  width: 4rem;
  object-fit: cover;
}
.fayla h2{
  font-size:1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}
#section-5 p{
  font-size: 1.1rem;
  text-transform: capitalize;
 
}
.circles{
  display: flex;
  margin-top: 2rem;
align-items: center;
gap: 0.7rem;
margin-bottom: 2rem;
}
.circle{
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 50%;
  border: 1px solid black;
}
.pages h2{
  font-size:1.7rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.footer-a{
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  gap: 1rem;
}
.footer-a a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
font-size: 1rem;
}
.pages button{
  padding: 0.5rem 1.5rem;
  background-color: rgb(34, 34, 34);
  color: white;
  font-size: 1rem;
  font-weight: 500;
  word-spacing: 0.5rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  border: none;
  margin-left: 1rem;
}
.line-3{
  margin-top: 1rem;
  border-bottom: 1px solid rgb(44, 44, 44);
  margin-bottom: 1rem;
}
#section-5 .privacy{
display: flex;
flex-direction: column;
gap: 0.5rem;
align-items: center;
}
.privacy h6{
  font-size: 1.1rem;
  word-spacing: 0.2rem;
  font-weight: 300;
  text-transform: capitalize;
}